* {
    margin: auto;
    box-sizing: border-box;
}

.password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background-color: rgb(35, 35, 35);
    color: #ffff;
}

.input-wrapper {
    position: relative;
    width: 200px;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 20px;
    color: rgb(18, 112, 112);
}

.input-wrapper input {
    min-width: 120px;
    padding: 10px;
}

.input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: rgb(128, 128, 128);
    text-align: center;
}

.form-text {
    font-size: 12px;
}

.btn{
    width: 150px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    border-radius: 25px;
    border: 2px solid aqua;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    background-color: aquamarine;
    color: #000;
}

.change-color {
    width: 150px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(68, 66, 66);
    color: #ffff;
    border: 2px solid aqua;
    border-radius: 25px;
}

.change-color:hover {
    background-color: aquamarine;
    color: #000;
    cursor: pointer;
}

.new-theme {
    background-color: rgb(15, 15, 15);
    color: rgb(218, 215, 215);
}

.password-form-new-theme {
    background-color: aquamarine;
}

.change-color-new-theme {
    background-color: aquamarine;
    color: black;
}

.btn-new-theme {
    border: 1px solid black;
}
